[
    {esmtp, [
            {smarthost, {"localhost", 25}},
            {default_from, "me@example.com"}
        ]}
    % 
    % Or try gmail
    %
    % {esmtp, [
    %   {smarthost, {"smtp.gmail.com", 465}},
    %   {login, {"me@gmail.com", "mygmailpassword"}},
    %   {default_from, "Erlang pretending to be you <me@gmail.com>"}
    % ]}

].
% vim:ft=erlang
